
<h1 class="pageheading1">Please Feel Free To Write Us</h1>
<hr class="horizontalline">
<mat-grid-list cols="2" rowHeight="750px">
    <mat-grid-tile>
        <mat-card>

            <form class="contactusForm">
                <div class="heading1">
                    <h1>Write To Us</h1>
                </div>
                <div class="formfield">
                <mat-form-field>
                    <input matInput type="text" placeholder="Your Name">
                </mat-form-field>
            </div>
            <div class="formfield">    
            <mat-form-field>
                    <input matInput type="text" placeholder="Your Email">
                </mat-form-field>
            </div> 
            <div class="formfield">
                <mat-form-field>
                    <input matInput type="text" placeholder="Your Subject">
                </mat-form-field>
            </div>
            <div class="formfield">
                <mat-form-field>
                    <textarea matInput type="text" placeholder="Your Message"></textarea>
                </mat-form-field>
            </div>
            </form>
        </mat-card>
    </mat-grid-tile>


    <mat-grid-tile>
        <mat-card>
            <form class="contactusForm">
                <div class="heading1">
                    <h1>Write To Us</h1>
                </div>
                <div class="formfield">
                <mat-form-field>
                    <input matInput type="text" placeholder="Your Name">
                </mat-form-field>
            </div>
            <div class="formfield">    
            <mat-form-field>
                    <input matInput type="text" placeholder="Your Email">
                </mat-form-field>
            </div> 
            <div class="formfield">
                <mat-form-field>
                    <input matInput type="text" placeholder="Your Subject">
                </mat-form-field>
            </div>
            <div class="formfield">
                <mat-form-field>
                    <textarea matInput type="text" placeholder="Your Message"></textarea>
                </mat-form-field>
            </div>
            </form>
        </mat-card>
        
    </mat-grid-tile>
</mat-grid-list>










<!-- 

    <form class="contactusForm">
        <div class="heading1">
            <h1>Write To Us</h1>
        </div>
        <div class="formfield">
        <mat-form-field>
            <input matInput type="text" placeholder="Your Name">
        </mat-form-field>
    </div>
    <div class="formfield">    
    <mat-form-field>
            <input matInput type="text" placeholder="Your Email">
        </mat-form-field>
    </div> 
    <div class="formfield">
        <mat-form-field>
            <input matInput type="text" placeholder="Your Subject">
        </mat-form-field>
    </div>
    <div class="formfield">
        <mat-form-field>
            <textarea matInput type="text" placeholder="Your Message"></textarea>
        </mat-form-field>
    </div>
    </form>
 -->



