<h1 class="h1title">Welcome To Dashboard of Quiz App</h1>

<mat-grid-list cols="5" rowHeight="200px">



<mat-grid-tile>
  <mat-card class="mat-card">
    <form>
      <label>Questions</label> 
      <h3>4</h3>     
    </form>
  </mat-card>
</mat-grid-tile>


<mat-grid-tile>
  <mat-card class="mat-card">
    <form>
      <label>Answers</label> <h3>4</h3>  
    </form>
  </mat-card>
</mat-grid-tile>


<mat-grid-tile>
  <mat-card class="mat-card">
    <form>
      <label>Results</label> <h3>8</h3>     
    </form>
  </mat-card>
</mat-grid-tile>



<mat-grid-tile>
  <mat-card class="mat-card">
    <form>
      <label>Results</label> <h3>8</h3>     
    </form>
  </mat-card>
</mat-grid-tile>



<mat-grid-tile>
  <mat-card class="mat-card">
    <form>
      <label>Results</label> <h3>8</h3>     
    </form>
  </mat-card>
</mat-grid-tile>



<mat-grid-tile>
  <mat-card class="mat-card-2">
    <form>
      <label>Mat Card Layer 2</label> <h3>8</h3>     
    </form>
  </mat-card>
</mat-grid-tile>





<mat-grid-tile>
  <mat-card class="mat-card-2">
    <form>
      <label>Mat Card Layer 2</label> <h3>8</h3>     
    </form>
  </mat-card>
</mat-grid-tile>




<mat-grid-tile>
  <mat-card class="mat-card-2">
    <form>
      <label>Mat Card Layer 2</label> <h3>8</h3>     
    </form>
  </mat-card>
</mat-grid-tile>




<mat-grid-tile>
  <mat-card class="mat-card-2">
    <form>
      <label>Mat Card Layer 2</label> <h3>8</h3>     
    </form>
  </mat-card>
</mat-grid-tile>









</mat-grid-list>



    
  

















<!-- <div class="grid-container">
    <h1 class="mat-h1"></h1>
    <mat-grid-list cols="1" rowHeight="100px">
        <mat-grid-tile *ngFor="let card of cards" [colspan]="card.cols" [rowspan]="card.rows">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle-menu">
                            <mat-icon>more_vert</mat-icon> 
                        </button>
                        <mat-menu #menu="matMenu" xPosition="before">
                            <button mat-menu-item>Expand</button>
                            <button mat-menu-item>Remove</button>
                        </mat-menu>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="dashbaord-card-content">
                    <div>Card Content Here</div>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div> -->




<!-- 
<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-title-group>
              <mat-card-title>Shiba Inu</mat-card-title>
              <mat-card-subtitle>Small</mat-card-subtitle>
              <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
            </mat-card-title-group>
            <mat-card-content>
              {{longText}}
            </mat-card-content>
          </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-title-group>
              <mat-card-title>Shiba Inu</mat-card-title>
              <mat-card-subtitle>Medium</mat-card-subtitle>
              <img mat-card-md-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
            </mat-card-title-group>
            <mat-card-content>
              {{longText}}
            </mat-card-content>
          </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-title-group>
              <mat-card-title>Shiba Inu</mat-card-title>
              <mat-card-subtitle>Large</mat-card-subtitle>
              <img mat-card-lg-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
            </mat-card-title-group>
            <mat-card-content>
              {{longText}}
            </mat-card-content>
          </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-title-group>
              <mat-card-title>Shiba Inu</mat-card-title>
              <mat-card-subtitle>Extra large</mat-card-subtitle>
              <img mat-card-xl-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
            </mat-card-title-group>
            <mat-card-content>
              {{longText}}
            </mat-card-content>
          </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
   -->