<div>
  <mat-card>
    <div class="header">
      <mat-card-header>
        <mat-card-title>
          <h1>User Detail Form</h1>
        </mat-card-title>
      </mat-card-header>

    </div>
    <mat-divider></mat-divider>

    <mat-card-content>
      <form class="userDetailForm">
        <div class="row">
          <div class="col">
            <mat-form-field appearance="outline">
              <mat-label>Signup Date</mat-label>
              <input matInput type="text" placeholder="Date" formControlName="signupDate">
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field appearance="outline">
              <mat-label>Name</mat-label>
              <input matInput type="text" placeholder="Name" formControlName="name">
            </mat-form-field>
          </div>
        </div>


        <div class="row">
          <div class="col">
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput type="text" placeholder="Email">
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field appearance="outline">
              <mat-label>Job Title</mat-label>
              <input matInput type="text" placeholder="Title">
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <mat-form-field appearance="outline">
              <mat-label>Role</mat-label>
              <input matInput type="text" placeholder="Role">
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field appearance="outline">
              <mat-label>PassportId</mat-label>
              <input matInput type="text" placeholder="PassportId">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field appearance="outline">
              <mat-label>Expiry</mat-label>
              <input matInput type="text" placeholder="Expiry">
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field appearance="outline">
              <mat-label>Verified</mat-label>
              <input matInput type="text" placeholder="Verified">
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <mat-form-field appearance="outline">
              <mat-label>Status</mat-label>
              <input matInput type="text" placeholder="Status">
            </mat-form-field>
          </div>

        </div>

      </form>
    </mat-card-content>

    <!-- <mat-card-actions>
      <div>
        <button mat-raised-button color="primary">
          <mat-icon>save_alt</mat-icon>
          Save
        </button>
        <button mat-raised-button color="primary">
          <mat-icon>refresh</mat-icon>
          Reset
        </button>
      </div>
    </mat-card-actions> -->
  </mat-card>
</div>
