<!-- <h1>{{title}}</h1> -->

<!-- Toolbar -->
<!-- <mat-toolbar color="primary" class="app-header">
    <div><a href="https://www.positronx.io" target="_blank" class="positronx">PositronX.io</a></div>
    <span class="nav-tool-items">
      <span class="example-spacer"></span>
      <a mat-button routerLink="login" routerLinkActive="active">Log in</a>
      <a mat-button mat-raised-button routerLink="signup" routerLinkActive="active">SignUp</a>
    </span>
  </mat-toolbar> -->




<!-- <p>
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>My App</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>
  </p> -->


<!-- <mat-toolbar color="primary">
    <button mat-button> <mat-icon>menu</mat-icon>QuizApp </button>
    <span class="example-spacer"></span>
    <a> <button mat-button routerLink="login" routerLinkActive="active"> <mat-icon>login</mat-icon>   Login</button></a>
    <a> <button mat-button routerLink="logout" routerLinkActive="active"> <mat-icon>logout</mat-icon> Log Out</button></a>
    <a><button mat-raised-button color="accent" routerLink="signup" routerLinkActive="active"><mat-icon> </mat-icon> Sign Up</button></a>
  </mat-toolbar> -->


  <app-header> </app-header>
  <router-outlet> </router-outlet>
    <app-sidenav> </app-sidenav>
      
       <app-footer> </app-footer>
       

