<div>
    <mat-card class="mat-card-window">
        <mat-card-header>
            <mat-card-title>
                Questions and Answers
            </mat-card-title>
        </mat-card-header>
        
        <mat-card-content>
            <form>
            <div class="input-row">
            <mat-form-field class="col">
                <mat-label>Question</mat-label>
                <input matInput type="text" placeholder="Enter Your Question Here...">
            </mat-form-field>
        </div>
    <div  class="input-row">
        <mat-form-field class="col">
            <mat-label>Answer</mat-label>
            <!-- <mat-checkbox></mat-checkbox> -->
            <input matInput placeholder="Enter Your Answer Here...">
        </mat-form-field>
    </div>
            <div class="newrow">
                <div *ngFor="let ans of questionsArray.controls; last as isLast; index as idx" class="input-row">
                         <mat-form-field class="col">
                            <!-- <mat-label>Answer</mat-label> -->
                            <!-- <mat-checkbox></mat-checkbox> -->
                            <input matInput [formControl]="ans"> 
                        </mat-form-field> 
                </div>
            </div>
        </form>
        </mat-card-content>

        <!-- <mat-card-actions class="btn"> -->
            <ng-container>
                
                <button mat-raised-button color="accent" (click)="removeRow()" 
                *ngIf="questionsArray.length > 1" matTooltip="Remove Row" 
                matTooltipPosition="above" >
                    <mat-icon>remove_circle</mat-icon>
                    </button>
        
                    <button class="bntadd" mat-raised-button color="primary"  (click)="addRow()"
                     matTooltip="Add Row" matTooltipPosition="after">
                    <mat-icon>add_circle</mat-icon>
                    </button>
            </ng-container>
           

            <!-- <button mat-raised-button color="accent" class="btnsave">
                <mat-icon>save_alt</mat-icon>
                Save
            </button>
            <button mat-raised-button color="accent" class="btncancel">
                <mat-icon>cancel</mat-icon>
                Cancel
            </button> -->
        <!-- </mat-card-actions> -->
        <ng-container>
            <button mat-raised-button color="accent" class="btnsave">
                <mat-icon>save_alt</mat-icon>
                Save
            </button>
            <button mat-raised-button color="accent" class="btncancel">
                <mat-icon>cancel</mat-icon>
                Cancel
            </button>
        </ng-container>
    
    </mat-card>
   
   
</div>


