
mat-card{
    width: 60vmax;
    height: 30vmax;
}

 mat-card-title{
    justify-content: center;
    padding-bottom: 2rem;   
} 
/* .col{
width: 70%;
padding-left: 25px;
} */
/* .btn{
    margin-left: 10px;
}
.input-row{
    display: flex;
    align-items: center;
} */
.mat-form-field{
    width: 100%;
    /* margin-left: 2rem;
    margin-left: 1rem; */
}
/* input{
    width: 100%;
    margin-left: 2.5rem;
} */
/* .input-row{
    width: 100%;
    margin-right: 2rem;  
} */
.btnadd{
    
    
    padding: 0 auto;
}
.btnsave{
    background: green;
    margin-left: 500px;
    margin-right: 10px;


}
.btncancel{
    background-color: red;
    
}

