/* .container{
    padding: 25px;
    margin-left: 20px;
}
.row{
    width: 100%;

}
.mat-card{
    padding-top: 35px;
    padding: 30px;
    margin-left: 15px;
    width: 70%;
    height: 80%;
    display:inline-flexbox;
}

.h1{
    text-align: center;
    color: brown;
    font-family: Arial, Helvetica, sans-serif;
    
}
.col{
    position: relative;
    display: flex;
    text-align: center;
    padding-left: 50px;
    padding-top: 5px;
    width: 100%;

}
.button{
    margin-right: 5rem;
    size: 20px;
} */






/* ==================================================== */

mat-card-title{
    display: flex;
    position: relative;
    text-align: center;
    justify-content: center;
    justify-items: center;
}
.col{
width: 70%;
padding-left: 25px;
}
.btn{
    margin-left: 15px;
}
.input-row{
    display: flex;
    align-items: center;
}






/* =============================================================================== */
.mat-card{

    padding: left 70px;
    margin-left: 35px;
    width: 80%;
    
    
}
.mat-form-field{
    width: 70%;
}


