
<div class="container-fluid">
<div>
  <h1>List Of All Registered Users</h1>
</div>
<!-- <div>
  <button mat-raised-button color="primary" (click)="openDialog()">+ Add User</button>
</div> -->
<table mat-table class="mat-elevation-z8" [dataSource]="this.users">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

          <!-- Weight Column -->
<ng-container matColumnDef="SignupDate">
  <th mat-header-cell *matHeaderCellDef> Signup Date </th>
  <td mat-cell *matCellDef="let user"> {{user.SignupDate}} </td>
  
</ng-container>


    <!-- Position Column -->
    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let user"> {{user.Name}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="Email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let user"> {{user.Email}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="Role">
      <th mat-header-cell *matHeaderCellDef> Role </th>
      <td mat-cell *matCellDef="let user"> {{user.Role}} </td>
    </ng-container>
  


<!-- Weight Column -->
<ng-container matColumnDef="JobTitle">
  <th mat-header-cell *matHeaderCellDef> Job Title </th>
  <td mat-cell *matCellDef="let user"> {{user.JobTitle}} </td>
</ng-container>

<!-- Weight Column -->
<ng-container matColumnDef="PassportId">
  <th mat-header-cell *matHeaderCellDef> PassportId </th>
  <td mat-cell *matCellDef="let user"> {{user.PassportId}} </td>
</ng-container>

<!-- Weight Column -->
<ng-container matColumnDef="Expiry">
  <th mat-header-cell *matHeaderCellDef> Expiry </th>
  <td mat-cell *matCellDef="let user"> {{user.Expiry}} </td>
</ng-container>

<!-- Weight Column -->
<ng-container matColumnDef="Verified">
  <th mat-header-cell *matHeaderCellDef> Verified </th>
  <td mat-cell *matCellDef="let user"> {{user.Verified}} </td>
</ng-container>

<!-- Weight Column -->
<ng-container matColumnDef="Status">
  <th mat-header-cell *matHeaderCellDef> Status </th>
  <td mat-cell *matCellDef="let user"> {{user.Status}} </td>
</ng-container>



    <!-- Symbol Column  -->
     <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element"> {{element.action}} 

        <button  (click)="onEdit()" mat-button color="primary" aria-label="Example icon button with a delete icon"
        matTooltip="View Record" matTooltipPosition="before">
          <!-- <mat-icon>edit</mat-icon> -->
          <i class="fa fa-eye" aria-hidden="true"></i>
        </button> |

        <button  (click)="onDelete()" mat-button color="warn" aria-label="Example icon button with a delete icon" 
        matTooltip="Delete Record" matTooltipPosition="after">
        <mat-icon>delete</mat-icon>
        </button>

      </td>
    </ng-container>

   
  
     <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row  *matRowDef="let row; columns: displayedColumns;"
      (click)="onDoubleClick(row)"
    ></tr> 
  </table>
  
</div>